<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ucsdschedulinghelper" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <activity android:name=".ui.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MajorChoiceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.courseListView.ListViewLoader"
            android:label="ListViewLoader" >
        </activity>
        <activity
            android:name=".ui.courseListView.CourseDetailedView"
            android:label="CourseDetailedView" >
        </activity>
        <activity
            android:name=".ui.fourYearPlan.fypView"
            android:label="FourYearPlanView" >
        </activity>

        <provider
            android:name=".provider.DbContentProvider"
            android:authorities="com.example.ucsdschedulinghelper.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" >
        </provider>

        <activity
            android:name=".ui.cape.CapeMainActivity"
            android:label="Cape" >
        </activity>
    </application>

</manifest>
